@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cabin+Sketch&family=Holtwood+One+SC&family=Kaushan+Script&family=Kurale&family=Libre+Bodoni:ital@1&family=Moo+Lah+Lah&family=Orbitron:wght@600&family=Rubik+Moonrocks&family=Teko:wght@500&display=swap');
@tailwind utilities;
*{
  @apply box-border m-0 scroll-smooth;
}

html,body,#root{
  @apply h-full w-full;
}



.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.bor{
  -webkit-box-shadow: 0px 11px 30px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 11px 30px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 11px 30px 5px rgba(0,0,0,0.75);
  border-radius: 10px;
}
.img{
  border-radius: 50%;
}

.cas{
  filter: drop-shadow(4px 4px 4px #c3baba)
  brightness(.9);
}


/* font-family: 'Moo Lah Lah', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Teko', sans-serif; */
/* font-family: 'Alice', serif; */
/* font-family: 'Kaushan Script', cursive; */
/* font-family: 'Holtwood One SC', serif; */
/* font-family: 'Cabin Sketch', sans-serif; */
/* font-family: 'Rubik Moonrocks', sans-serif; */

.lg{font-family: 'Orbitron', sans-serif;}

.about{font-family: 'Moo Lah Lah', sans-serif;}
.abt{font-family: 'Kaushan Script', cursive; }
.hd{font-family: 'Holtwood One SC', serif;}
.hom{font-family: 'Libre Bodoni', serif;}